RewriteEngine On
RewriteBase /

# Si ya estamos en frontend/dist/ index.html, no hacer nada
RewriteRule ^index\.html$ - [L]

# Si no es un archivo o directorio físico real en public_html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si la URL no empieza por frontend/dist
RewriteCond %{REQUEST_URI} !^/frontend/dist/

# Redirigir el ruteo virtual al index.html de producción
RewriteRule ^(.*)$ /frontend/dist/index.html [L]

# El resto de recursos (CSS, JS, imágenes) redireccionarlos a la carpeta dist
RewriteCond %{REQUEST_URI} !^/frontend/dist/
RewriteRule ^(.*)$ /frontend/dist/$1 [L]
